.NotFoundPage {
  font: var(--font-l);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.message {
  margin: 0;
}
