// Button

@mixin button-elevation($outer, $inner) {
  .AppButtonStateLayer {
    box-shadow: $outer, $inner;
    transition:
      box-shadow var(--transition-duration) var(--transition-timing-fn),
      transform var(--transition-duration) var(--transition-timing-fn),
      background var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-elevation-hover($outer, $inner) {
  .AppButtonStateLayer {
    box-shadow: $outer, $inner;
    transform: translateY(-1px);
  }
}

@mixin button-elevation-disabled($outer, $inner) {
  .AppButtonStateLayer {
    box-shadow: $outer, $inner;
    transform: none;
  }
}

// initial
@mixin button-text($textColor) {
  .AppButtonStateLayer {
    background: rgba(var(--theme-light), var(--transparency-6));
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);

    &.selected & {
      color: var(--text-contrast);
      transition: color var(--transition-duration) var(--transition-timing-fn);
    }
  }
}

@mixin button-outlined($textColor) {
  .AppButtonStateLayer {
    background: transparent;
    border: 1px solid $textColor;
    transition: border var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-contained($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);

    .selected {
      color: var(--text-secondary);
      transition: color var(--transition-duration) var(--transition-timing-fn);
    }
  }
}

// disabled
@mixin button-text-disabled($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-outlined-disabled($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    border: 1px solid $textColor;
    transition: all var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-contained-disabled($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

// hovered
@mixin button-text-hovered($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-outlined-hovered($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    border: 1px solid $background;
    transition: all var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}

@mixin button-contained-hovered($background, $textColor) {
  .AppButtonStateLayer {
    background: $background;
    transition: background var(--transition-duration) var(--transition-timing-fn);
  }

  .AppButtonContainer {
    color: $textColor;
    transition: color var(--transition-duration) var(--transition-timing-fn);
  }
}